body {
    background-color: #001f3f;
    color: whitesmoke;
}

a {
    text-decoration: none;
    color: white;
    border: solid;
    position: relative;
    top: 10px;
    padding: 3px;
}

h1 {
    color: red;
}

.auteur {
    border: solid;
}

.frm{
    border: solid gray 1px;
    width: 20%;
    border-radius: 5px;
    margin: 100px auto;
    background: white;
    padding: 50px;
    color: black;
}

#btn {
    color: #fff;
    background: #337ab7;
    padding: 5px;
    margin-left: 69%;
}

#headerChap {
    display: flex;
    
}