.headerChap {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    color: snow;
    height: 80px;
}

.suite {
    text-decoration: none;
}

li {
    list-style-type: none;
    text-decoration: none;
}

body {
    width: 100%;
}

.auteur {
    padding: 2%;
    background-color: #eee;
    border: 0px solid;
    border-radius: 19px 19px 19px 19px;
    -moz-border-radius: 19px 19px 19px 19px;
    -webkit-border-radius: 19px 19px 19px 19px;
}

.news {
    padding: 2%;
    border: 1px solid #326fa8;
    border-radius: 19px 19px 19px 19px;
    -moz-border-radius: 19px 19px 19px 19px;
    -webkit-border-radius: 19px 19px 19px 19px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #222;
  color: white;
}

 

