body {
    background-color: #001f3f;
    color: whitesmoke;
}

.suite {
    text-decoration: none;
    color: white;
    border: solid;
    position: relative;
    top: 10px;
    padding: 3px;
}

h1 {
    color: red;
    text-align: center;
}



.auteur {
    border: solid;
}

.text-center {
    text-align: center;
}

li {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.menu {
    border: solid;
    border-radius: 10%;
    color: white;
    width: 170px;
    margin-bottom: 10px;
    font-size : 1.3em;
}
